appnope
asttokens
comm
contourpy
cycler
debugpy
decorator
et_xmlfile
executing
filelock
fonttools
fsspec
ipykernel
ipython
ipywidgets
jedi
Jinja2
joblib
jupyter_client
jupyter_core
jupyterlab_widgets
kiwisolver
lightgbm
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numpy>=1.26.0,<2.0.0
openpyxl
packaging
pandas
parso
patsy
pexpect
pillow
platformdirs
plotly
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scikit-learn
scipy
setuptools
six
stack-data
statsmodels
sympy
tenacity
threadpoolctl
torch
torchvision
tornado
traitlets
typing_extensions
tzdata
wcwidth
widgetsnbextension

# Main change for Apple Silicon + Python 3.12:
tensorflow-macos
